@model List<UserListViewModel>

<h2>List of users:</h2>
<br />
<div class="card-container">
    @foreach (var user in @Model)
    {
        <partial name="~/Views/Shared/Partials/_UserCardPartial.cshtml" for="@user" />
    }
</div>
<br />
<a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
<a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="Create">Create new user</a>